NEXT_PUBLIC_API_BASE=http://localhost:8080/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1029079045093-st4c2mqvo4v9458sv8fpk288o9ke1arq.apps.googleusercontent.com
AI_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_CHAT_MODEL=qwen2.5-coder:14b
OLLAMA_EMBEDDING_MODEL=nomic-embed-text